<%= @movie.title %></br>
<%= @movie.year %></br>
<%= @movie.mpaa_rating %> </br>
<%= @movie.rating %> </br>

<form action="/movies/favorite" method="PUT">
<button name ="plus"> + </button>
<button name="minus"> - </button>
</form>

