<h1> These are your movies </h1><br/>
<ul>
<% @movies.each do |movie| %>
<li>
<a href="/movies/<%= movie.id %>"><%= movie.title %></a>


</li>
<% end %>
</ul>

<%= render :partial => "searchbox" %>

<!--<#%= link_to movie.title, movie_path(:id => movie.id) %>>