<h1> These are your movies </h1><br/>
<ul>
<% @movies.each do |movie| %>
<li>
<%= link_to movie.title, show_search_result_path(:movie_id => movie.title) %>
</li>
<% end %>
</ul>

<%= render :partial => "searchbox" %>